package com.${projectName}.service;

import com.${projectName}.dao.${simpleClassName}MapperExt;
import com.${projectName}.interfaces.controller.Result;
import com.${projectName}.model.dataObject.${simpleClassName};
import com.${projectName}.model.dataObject.${simpleClassName}Example;
import com.${projectName}.util.Page;
import com.${projectName}.util.PageUtil;
import org.springframework.stereotype.Service;

import javax.annotation.Resource;
import java.util.List;

/**
* Created by song.
*/
@Service
public class ${simpleClassName}CrudService extends BaseService{
    @Resource
    ${simpleClassName}MapperExt ${object}MapperExt;

    public Result add(${simpleClassName} ${object}) {
        return new Result(${object}MapperExt.insert(${object}),"",${object});
    }

    public int update(${simpleClassName} ${object}) {
        return ${object}MapperExt.updateByPrimaryKeySelective(${object});
    }

    public int delete(${simpleClassName} ${object}) {
        return ${object}MapperExt.deleteByPrimaryKey(${object}.getId());
    }

    public ${simpleClassName} get(${idType} id) {
        return ${object}MapperExt.selectByPrimaryKey(id);
    }

    public Page<${simpleClassName}> getList(int pageNum, String q) {
        return getList(pageNum, q, null, null);
    }

    public Page<${simpleClassName}> getList(int pageNum, String q, String asc, String desc) {
        String orderClause = "";
        if(asc != null){
            orderClause += asc;
        }else if(desc != null){
            orderClause += desc;
        }else{
            orderClause += "CREATE_TIME DESC";
        }
        Page page = new Page();
        List<${simpleClassName}> ${object}List;
        int totalPage;
        ${simpleClassName}Example ${object}Example = new ${simpleClassName}Example();
        //全文检索 优先使用fulltext索引 还可以利用lucence，like等
        if(q != null){
            ${object}List = ${object}MapperExt.selectByFullText((pageNum - 1) * PAGE_SIZE, PAGE_SIZE, q);
            totalPage = PageUtil.getPageNum(${object}MapperExt.selectCountByFullText(q));
        }else {
            ${object}Example.setOrderByClause(orderClause + " " + PageUtil.genPaginationClause(pageNum));
            ${object}List = ${object}MapperExt.selectByExample(${object}Example);
            totalPage = totalPage(${object}Example);
        }
        page.setCurrentPage(pageNum);
        page.setData(${object}List);
        page.setTotalPage(totalPage);
        page.setPageSize(PAGE_SIZE);
        return page;
    }

    public int totalPage(${simpleClassName}Example example) {
        return PageUtil.getPageNum(${object}MapperExt.countByExample(example));
    }

}